<h2>Templates Basicos</h2>
<hr>
<div class="row">
   <div class="col">
       <form #form="ngForm" (ngSubmit)="guardar()">

        <!-- Campo Producto -->
        <div class="mb-3 row">
            <label for="nombreProducto" class="col-sm-3 col-form-label">Producto</label>
            <div class="col-sm-9">
                <input type="text" 
                       class="form-control" 
                       id="nombreProducto" 
                       name="nombreProducto"
                       placeholder="Nombre del producto"
                       required minlength="3"
                       ngModel>
               
                <span class="text-form text-danger"
                       *ngIf="nombreValido()">
                    Debe ser de 3 letras
                </span>
            </div>
        </div>
        
        <!-- Campo precio -->
        <div class="mb-3 row">
            <label for="precioProducto" class="col-sm-3 col-form-label">Precio</label>
            <div class="col-sm-9">
                <input type="number" 
                       class="form-control" 
                       id="precioProducto" 
                       name="precioProducto"
                       placeholder="Precio del producto"
                       required min="0"
                       ngModel>
                    
                <span class="text-form text-danger" 
                      *ngIf="precioValido()">
                        Debe ser mayor que 0
                </span>
            </div>
        </div>
        
        <!-- Campo existencias -->
        <div class="mb-3 row">
            <label for="existenciaProducto" class="col-sm-3 col-form-label">Existencias</label>
            <div class="col-sm-9">
                <input type="number" 
                        class="form-control" 
                        id="existenciaProducto" 
                        name="existenciaProducto"
                        placeholder="Existencias del producto"
                        ngModel>
            </div>
        </div>

        <button type="submit" class="btn btn-primary float-end">
            Guardar
        </button>

       </form>
   </div>

</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre>{{form.valid}}</pre>

        <span>Pristine</span>
        <pre>{{form.pristine}}</pre>

        <span>Touched</span>
        <pre>{{form.touched}}</pre>

        <span>Valor</span>
        <pre>{{form.value | json}}</pre>
    </div>
</div>